@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@200;300;400;500;600&display=swap');

/* calc(16px + 6 * ((100vw - 320px) / 680)); */
#menu {
   width: 130px;
   height: 130px;
   position: absolute;
   position: fixed;
   left: 50%;
   bottom: -75px; 
   margin: -75px 0 0 -75px;
   list-style: none;
   /* font-size: 200%; */
   z-index: 100;
   opacity: .5;
   transition: all ease-in-out .5s;
}
#menu:hover {
  opacity: 1;
}

.menu-button {
   opacity: 0;
   z-index: -1;
}

.menu-button {
  
   width: 150px;
   height: 150px;
   position: absolute;
   left: 50%;
   top: 50%;
   margin: -75px 0 0 -75px;
   border-radius: 50%;
   background: #424242;
   background-size: 100%;
   overflow: hidden;
   text-decoration: none;
   transition: all ease-in-out .5s;
}
.menu-button>span {
  font-size: 1.3rem;
  color: hsl(0, 0%, 80%);
  top: 30px;
  left: 46px;
  position: relative;
  font-family: 'IBM Plex Sans Thai', sans-serif;

}

.menu-button>span:hover{
  color: hsl(0, 0%, 100%);
}
#menu:not(:target)>a:first-of-type,
#menu:target>a:last-of-type {
   opacity: 1;
   z-index: 1;
}

#menu:not(:target)>.icon-plus:before,
#menu:target>.icon-minus:before {
   opacity: 1;
}

.menu-item {
   width: 89px;
   height: 89px;
   position: absolute;
   left: 60%;
   line-height: 5px;
   top: 50%;
   margin: -50px 0 0 -50px;
   border-radius: 50%;
   background-color: #424242;
   transform: translate(0px, 0px);
   transition: transform 500ms;
   z-index: -2;
   color: #fff;
   transition: .5s;
}
.menu-item>a {
   position: relative;
   top: 48%;
   text-align: center;
   cursor: pointer;
   /* left: 10%; */
   text-decoration: none;
   font-size: .7rem;
  font-family: 'IBM Plex Sans Thai', sans-serif;

}
.menu-item>a>span {
   display: block;
}
.menu-item>a>span:hover {
   color: hsl(0, 0%, 80%);
}
@media screen and (max-width:700px) {
   .menu-item {
      left: 67%;
      top: 66%;
      width: 70px;
      height: 70px;
   }
   .menu-button {
      left: 65%;
      bottom: 50%;
      width: 130px;
      height: 130px;
   }
   .menu-button>span {
      font-size: 1rem;
      color: hsl(0, 0%, 80%);
      top: 25px;
      left: 45px;
      position: relative;
      font-family: 'IBM Plex Sans Thai', sans-serif;
    
    }
    #menu {
      left: 51%;
      bottom: -90px; 
    }
    .menu-item a {
      color: #fff;
      position: relative;
      top: 45%;
      text-align: center;
      /* left: 10%; */
      text-decoration: none;
      font-size: .7rem;
   }
}

.menu-item:hover{
   opacity: 0.9;
   box-shadow: 0 5px 10px black; 
}




#menu:target>.menu-item:nth-child(6) {
   transform: rotate(60deg) translateY(-150px) rotate(300deg);
   transition-delay: 0s;
}

#menu:target>.menu-item:nth-child(5) {
   transform: rotate(20deg) translateY(-155px) rotate(-20deg);
   transition-delay: 0.1s;
}

#menu:target>.menu-item:nth-child(3) {
   transform: rotate(-20deg) translateY(-155px) rotate(20deg);
   transition-delay: 0.2s;
}

#menu:target>.menu-item:nth-child(4) {
   transform: rotate(-60deg) translateY(-150px) rotate(60deg);
   transition-delay: 0.3s;
}

.content{
 position: absolute;
 text-align: center;
 margin: -10px 0 0 -30px;
 top: 70%;
 left: 50%;
 font-size: 20px;
}